body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}

h1, h2 {
  margin: 10px;
}

#spieleliste {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#spieleliste li {
  font-size: 1.5rem;
  margin: 15px 0;
}
