body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}

h1, h2 {
  margin: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

#spieleliste {
  list-style: none;
  padding: 0;
  margin: 20px 10px;
}

#spieleliste li {
  font-size: 1.2rem;
  margin: 15px 0;
}

.score {
  font-weight: bold;
  margin-left: 10px;
}

/* Debugbereich */
#connection-status, #last-update {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
}
